<div class="card-style-detail">
     <article>
          <p><img src="{{det.img_url}}" class="card-img-top" alt="{{det.art_name}}"></p>

          <p>Artist: {{det.artist_name}}</p>
          <p>Title: {{det.art_name}}</p>
          <p>Technique: {{det.technique}}</p>
          <p>Dimensions: {{det.dimension}}</p>
          <p>Price: {{det.price}}</p>
          <p>Other Details: {{det.other_details}}</p>


          <p><a href="/buyme{{art.id}}" class="btn btn-primary update">Purchase now</a></p>
     </article>
</div>