<div class="card-style">
     {{#each arts as |art|}}
          <article>
               <a href=" /collection/{{art.id}}"><img src="{{art.img_url}}" class="card-img-top"
                         alt="{{art.art_name}}"></a>
               <h3>{{art.art_name}}</h3>
               Artist: {{art.artist_name}}<br>
               Price: $ {{art.price}}<br><br>
               <a href="/collection/{{art.id}}" class="btn btn-primary">Details</a>
          </article>
     {{/each}}
</div>