<div class="nav">
     <ul class="nav nav-tabs">
          <li class="nav-item">
               <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
               <a class="nav-link" href="/dashboard">My Dashboard</a>
          </li>
          <li class="nav-item">
               <a class="nav-link active" href="/collection">Collection</a>
          </li>
          <li class="nav-item">
               {{#if loggedIn}}
                    <a class="nav-link" href="/logout">Logout</a>
               {{else}}
                    <a class="nav-link" href="/login">Login</a>
               {{/if}}
          </li>
     </ul>
</div>

<div class="card-style-detail">
     <article>
          <p><img src="{{det.img_url}}" class="card-img-top" alt="{{det.art_name}}"></p>

          <p>Artist: {{det.artist_name}}</p>
          <p>Title: {{det.art_name}}</p>
          <p>Technique: {{det.technique}}</p>
          <p>Dimensions: {{det.dimension}}</p>
          <p>Price: {{det.price}}</p>
          <p>Other Details: {{det.other_details}}</p>


          <p><a href="/buyme{{art.id}}" class="btn btn-primary update">Purchase now</a></p>
     </article>
</div>



{{!-- <div class="container">
     <div class="row">
          <div class="col">
               <p><img src="{{det.img_url}}" class="card-img-top" alt="{{det.art_name}}"></p>
               <p>
               <form>
                    <div class="form-group">
                         <label for="exampleFormControlTextarea1">Comments on this Masterpiece (be nice): </label>
                         <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                    </div>
               </form>
               </p>
               <p>comment 1</p>
               <p>comment 2</p>
          </div>
          <div class="col">
               <p>Artist: {{det.artist_name}}</p>
               <p>Title: {{det.art_name}}</p>
               <p>Technique: {{det.technique}}</p>
               <p>Dimensions: {{det.dimension}}</p>
               <p>Price: {{det.price}}</p>
               <p>Other Details: {{det.other_details}}</p>
          </div>
     </div>
</div> --}}