<div class="detail-container">
     <div class="container">
          <div class="row">
               <div class="col">
                    <p><img src="{{det.img_url}}" class="card-img-top" alt="{{det.art_name}}"></p>
                    <p>comment #1</p>
                    <p>comment #2</p>
               </div>
               <div class="col">
                    <p>Artist: {{det.artist_name}}</p>
                    <p>Title: {{det.art_name}}</p>
                    <p>Technique: {{det.technique}}</p>
                    <p>Dimensions: {{det.dimension}}</p>
                    <p>Price: {{det.price}}</p>
                    <p>Other Details: {{det.other_details}}</p>
               </div>
          </div>
     </div>
</div>