<div id="addnewart" class="card-style-center">
     Welcome to the dashboard! This is where you can manage your masterpieces by adding,
     changing, and deleting artwork. When uploading be sure to use .jpg or .png images.<br><br>
     <a href="/dashboard/add" class="btn btn-primary">Add New Art</a>
</div>

{{#if userArts.arts.length}}
     <div id="allartsbyuser" class="card-style card-hover" >
          {{#each userArts.arts}}
               <article>
                    <a href="/dashboard/update/{{id}}"><img src="{{thumbnail img_url}}" class="card-img-top"
                              alt="{{art_name}}"></a>
                    <h3>{{art_name}}</h3>
                    Technique: {{technique}}<br>
                    Dimensions: {{dimension}}<br>
                    Price: $ {{price}}
                    <form id="artdelete">
                         <div class="form-group">
                              <a href="/dashboard/update/{{id}}" class="btn btn-primary">Update</a>
                              <button id="deleteart" data-id="{{id}}" type="submit" class="btn btn-primary">Delete</a>
                         </div>
                    </form>
               </article>
          {{/each}}
     </div>
{{/if}}

<script src="/js/deleteart.js"></script>